.vertical-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  //   padding: 4em 0;
}

.panel-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.iframe-box {
  width: 50vh;
  height: 50vh;
}

#vertical-contacts {
  display: flex;
  flex-flow: column;
  border-left: 1px solid black;
  padding-left: 2.5em;
  margin-left: 2em;
}

#vertical-contacts p {
  padding: 2vh;
  font-size: 2rem;
  font: bolder;
  opacity: 0;
  // -webkit-animation: fadeIn 2s 1 forwards,
}

// Tablet
@media all and (min-width: 481px) and (max-width: 1280px) {
  .iframe-box {
    width: 25rem;
    height: 25rem;
  }
}

// Phones
@media all and (max-width: 480px) {
  .vertical-wrapper {
    flex-flow: column;
  }

  .vertical {
    padding: 1rem;
  }

  .iframe-box {
    width: 100%;
    height: 300px;
  }

  #vertical-contacts {
    padding-left: 1em;
    & p {
      font-size: 1.2rem;
    }
  }
}
