#logo {
    max-height: 10px;
    max-width: 10px;
    margin-left: 0;
}

.bar-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em 0;
    text-align: center;
    z-index: 999;
    height: min-content;
    position: absolute;
}

.default-bar-text {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    // color: var(--primary-light-color);
}

// .primary-light-color {
//     color: var(--primary-light-color);
// }

// .primary-dark-color {
//     color: var(--primary-dark-color);
// }

footer {
    bottom: 0;
}

footer>* {
    padding: 0 10px;
}

@media all and (min-width:481px) and (max-width: 810px) {}

@media all and (max-width: 480px) {
    .bar-container {
        justify-content: start;
    }

    #logo {
        margin-left: 2em;
    }
}