.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2em;
}

.vertical-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 4em 0;
}

.panel-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-flow: column;
  border-left: 1px solid black;
  padding-left: 25%;
}

.vertical p {
  padding: 2vh;
  font: bolder;
  font-size: larger;
}

#nav {
  display: flex;
  flex-direction: column;
  height: 4em;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
  cursor: pointer;
}

.nav-link {
  font-size: 22px;
  // font-weight: bold;
  font-family: 'Courier New', Courier, monospace;

}
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#logo {
  max-height: 10px;
  max-width: 10px;
  margin-left: 0;
}

.bar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
  height: min-content;
  position: absolute;
}

.bar-container > * {
  font-size: 0.9em;
}

.default-bar-text {
  text-decoration: none;
  font-weight: bolder;
  font-size: 80px;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 1rem;
  mix-blend-mode: difference;
  filter: invert(100%);
}

footer > * {
  padding: 0 10px;
}

.text-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 15vh;
}

.text-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 15vh;
}

.nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  z-index: 2;
}

.nav-wrapper.top {
  top: 0;
}

.nav-wrapper.bottom {
  bottom: 0;
}

.no-wrap {
  white-space: nowrap;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .nav-link {
    &:last-child {
      padding-right: 3em;
    }
  }
}

@media all and (max-width: 480px) {

  footer {
    display: none;
  }

  .main-title {
    font-size: 2em;
  }

  .no-wrap {
    white-space: unset;
  }

  .main-title {
    font-size: 3em;
  }

  #logo {
    margin-left: 2em;
  }

  .bar-container > * {
    font-size: 0.5em;
  }

  .main-title {
    font-size: 3em;
  }

  #about-us {
    font-size: 2em;
  }
}
