.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 2em;
}

#nav {
  display: flex;
  flex-direction: row;
  // height: 4em;
  overflow: hidden;
  padding-top: 10px;
}

.nav {
  display: flex;
  align-items: center;
  // height: 4em;
  flex-grow: 1;
}

.nav-link {
  font-size: calc(15px + 1vw);
  // font-family: "Courier New", Courier, monospace;
  margin-left: auto;

  &:last-child {
    margin-right: 2rem;
  }
}

.nav-link,
.logo {
  padding: 10px 0.5em 0 0;
  cursor: pointer;
}

.logo {
  padding-left: 25px;
  height: 10em;
}

.bar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
  height: min-content;
  position: absolute;
}

.bar-container > * {
  font-size: 0.9em;
}

.default-bar-text {
  text-decoration: none;
  font-weight: bolder;
  font-size: 80px;
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  // mix-blend-mode: difference;
  // filter: invert(100%);
}

footer > * {
  padding: 0 10px;
  font-size: calc(15px + 0.5vw);
}

.text-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 15vh;
}

.nav-wrapper {
  overflow: hidden;
  width: 100%;
  height: max-content;
  position: fixed;
  left: 0;
  z-index: 2;
}

.nav-wrapper.top {
  top: 0;
}

.nav-wrapper.bottom {
  bottom: 0;
}

.no-wrap {
  white-space: nowrap;
}

.scroll-btn {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  margin: 1rem;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  mix-blend-mode: overlay;
}

.main-title-smaller {
  color: var(--primary-dark-color);
}

@media all and (min-width: 481px) and (max-width: 1280px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .nav-link {
    &:last-child {
      padding-right: 1.5em;
    }
  }
}

@media all and (max-width: 480px) {

  #nav {
    padding-top: 0;
  }

  .main-title-smaller {
    font-size: 2.5rem;
  }
  
  .right {
    display: none;
  }

  .scroll-btn {
    display: block;
  }

  footer {
    display: none;
  }

  .vertical-wrapper {
    padding: 2rem;
  }

  .logo {
    padding: 0px;
    height: 6em;
  }

  .bar-container > * {
    font-size: 0.5em;
  }

  .text-container {
    padding: 0 10vh;
  }
}

:root {
  --delay: 0;
  --duration: 3s;
  --iterations: 1;
}

.reveal-text,
.reveal-text::after {
  -webkit-animation-delay: var(--animation-delay, 2s);
  animation-delay: var(--animation-delay, 2s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 800ms);
  animation-duration: var(--duration, 800ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 3000ms);
  --animation-iterations: var(--iterations, 1);
  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  cursor: default;
}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
