<div #columns class="even-columns">
  <div class="card left">
    <p class="sub-title card-descrition">
      Ogni giorno portiamo sulla tua tavola ortaggi e verdura di prima qualtità,
      dal 1985.
    </p>
    <div class="line"></div>
    <img src="../../assets/fruit.jpg" />
  </div>

  <div class="card right">
    <p class="sub-title card-descrition">
      Ogni giorno portiamo nella tua tavola ortaggi e verdura di prima qualtità,
      dal 1985.
    </p>
    <div class="line"></div>
    <img src="../../assets/fruit.jpg" />
  </div>
</div>
