$offset: 500px;

.even-columns {
  background-color: var(--secondary-light-color);
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.even-columns > :nth-child(2) {
  flex-flow: column-reverse;
}

.even-columns > * {
  flex: 1;
}

.card {
  max-width: 25%;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.left {
  transform: translateY($offset);
}

.right {
  transform: translateY(-$offset);
}

.slide-card-up {
  -webkit-animation: slideInDown 3s forwards;
  -moz-animation: slideInDown 3s forwards;
  animation: slideInDown 3s forwards;
}

.slide-card-down {
  -webkit-animation: slideInUp 3s forwards;
  -moz-animation: slideInUp 3s forwards;
  animation: slideInUp 3s forwards;
}

.sub-title {
  color: var(--primary-dark-color);
  font-size: 4rem;
  font-family: "Cookie";
}

.line {
  width: 2px;
  height: calc(2vh + 30px);
  background-color: var(--primary-dark-color);
}

img {
  max-width: 100%;
}

// Tablet
@media all and (min-width: 481px) and (max-width: 1280px) {
}

// Phones
@media all and (max-width: 480px) {
  .even-columns {
    flex-flow: column;
    align-items: center;
  }
  .card {
    max-width: unset;
  }

  img {
    max-width: 80%;
  }

  .sub-title {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes slideInUp {
  0% {
    transform: translateY(-$offset);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    transform: translateY(-$offset);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(-$offset);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInDown {
  0% {
    transform: translateY($offset);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInDown {
  0% {
    transform: translateY($offset);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY($offset);
  }
  100% {
    transform: translateY(0);
  }
}
