<div #columns class="even-columns">
  <div class="card left">
    <p class="sub-title card-descrition">
      Provenienza certificata, freschezza e ampia disponibilità dei prodotti hanno reso MD l'Ortofrutticola un partner affidabile per la vendita di ortaggi genuini e gustosi.
    </p>
    <div class="line"></div>
    <img src="assets/fruit.jpg" />
  </div>

  <div class="card right">
    <p class="sub-title card-descrition">
      Il personale specializzato realizza con gusto ed eleganza in addobbi, ceste e bouquet.
    </p>
    <div class="line"></div>
    <img src="assets/fruit.jpg" />
  </div>
</div>
